.calculator .display{
  /* width: calc(100% - 25px); */
  height: var(--height__calculator__display);
  margin-bottom: var(--margin-bottom__calculator__display);
  background-color: var(--bg-color__calculator__display);
  border: var(--border__calculator__display);
}

.calculator .display input{
  padding: var(--padding__calculator__display);
  border: var(--border__calculator__display--input);
  font-size: var(--font-size__calculator__display--input);
  outline: var(--outline__calculator__display--input);
}

.calculator .display .btn-delete{
  width: var(--width__calculator__display__btn-delete);
  height: var(--height__calculator__display__btn-delete);
  padding: var(--padding__calculator__display__btn-delete);
  background-color: var(--bg-color__calculator__display__btn-delete);

  cursor: pointer;
  transition: background-color 0.25s;
}

.calculator .display .btn-delete .icon__delete-left{
  font-size: var(--font-size__calculator__display__btn-delete__icon);
  color: var(--color__calculator__display__btn-delete__icon);
}

.calculator .display .btn-delete:hover{
  background-color: var(--bg-color__calculator__display__btn-delete_hover);
}

.calculator .display .btn-delete:hover .icon__delete-left{
  color: var(--color__white);
}