.calculator .keys{
  grid-template-columns: var(--grid--template-colums__calulator__keys);
}

.calculator .btn-keys{
  padding: var(--padding__calculator__btn-keys);
  font-size: var(--font-size__calculator__btn-keys);
  border: var(--border__calculator__btn-keys);
  border-radius: var(--border-radius__calculator__btn-keys);
  background-color: var(--bg-color__calculator__btn-keys);
  cursor: pointer;
  transition: background-color 0.25s;
  outline: none;
}

.calculator .btn-keys:hover{
  background-color: var(--bg-color__calculator__btn-keys_hover);
}

.calculator .btn-calculate{
  margin-top: var(--margin-top__calculator__btn-calculate);
  width: var(--width__calculator__btn-calculate);
  background-color: var(--bg-color__calculator__btn-calculate);
  box-sizing: var(--box-sizing__calculator__btn-calculate);
}