.header-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;
}

.header-container .info-header{
  background-color: rgb(238, 237, 237);
  padding: 2px 15px;

  color: rgb(173, 173, 173);
  display: inline;
  margin-bottom: 10px;
}

.header-container .info-header a{
  color: rgb(54, 111, 145);
  transition: box-shadow 0.25s;
  padding: 0px 7px;
}

.header-container .info-header a:hover{
  box-shadow: 5px -2px 50px #2bc1ebaa;
  cursor: pointer;
}

.header-container .info-span{
  text-align: center;
  background-color: rgb(231, 229, 229);
  color: rgb(190, 190, 190);
  font-weight: bold;

  width: 200px;
  text-decoration: none;
  transition: background-color 0.25s;
}

.header-container .info-span:hover{
  background-color: rgb(245, 245, 245);
}

.header-container .info-span .icon-github{
  color: black;
}