@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root{
  --width__calculator: 300px;
  --width__calculator__display__btn-delete: 30px;

  --height__calculator__display: 44px;
  --height__calculator__display__btn-delete: 100%;

  --max-height__calculator: 430px;

  --padding__calculator: 20px;
  --padding__calculator__display: 10px;
  --padding__calculator__display__btn-delete: 0 5px;

  --margin-bottom__calculator__display: 10px;

  --bg-color__calculator: #f4f4f4;
  --bg-color__calculator__display: #fff;
  --bg-color__calculator__display__btn-delete: #e9e9e9;
  --bg-color__calculator__display__btn-delete_hover: #d6d5d5;

  --border__calculator__display: 1px solid #ced4da;
  --border__calculator__display--input: none;

  --border-radius__calculator: 10px;

  --box-shadow__calculator: 20px 15px 10px rgba(0, 0, 0, 0.1);

  --font-size__calculator__display--input: 20px;
  --font-size__calculator__display__btn-delete__icon: 1.5rem;

  --color__white: #fff;
  --color__calculator__display__btn-delete__icon: #6d6d6d;

  --outline__calculator__display--input: none;
}

body{
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* Flex */
.d-flex{
  display: flex;
}

/* Jusfity */
.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

/* Align */
.align-center{
  align-items: center;
}

/* Colors */

.color-white{
  color: var(--color__white);
}