@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root{
  --top__modal-delete: 100px;

  --left__modal-delete: 0;

  --transform__modal-delete: translateY(-50%);

  --width__calculator: 300px;
  --width__calculator__display__btn-delete: 30px;
  --width__calculator__btn-calculate: 100%;
  --width__container-log: 350px;
  --wdith__modal-delete: 350px;
  --width__btn__clear-log: 100%;

  --height__calculator__display: 44px;
  --height__calculator__display__btn-delete: 100%;
  --height__container-log: 448px;
  --height__item-header: 20px;
  --height__table-results: 270px;

  --max-height__calculator: 430px;
  --max-height__container-log: 448px;

  --padding__calculator: 20px;
  --padding__calculator__display: 10px;
  --padding__calculator__display__btn-delete: 0 5px;
  --padding__calculator__btn-keys: 20px;
  --padding__container-log: 20px;
  --padding__modal-delete: 20px;
  --padding__modal-delete__modal-buttons_button: 8px 20px;
  --padding__item-header: 5px;
  --padding__table-item: 10px;
  --padding__btn__clear-log: 10px;

  --margin-top__calculator__btn-calculate: 10px;
  --margin-top__container-log__log-title: 5px;
  --margin-top__table: 20px;
  --margin-top__btn__clear-log: 20px;
  --margin-top__container: 50px;

  --margin-right__table-item_span: 10px;

  --margin-bottom__calculator__display: 10px;
  --margin-bottom__modal-delete__modal-question: 35px;
  --margin-bottom__table-header: 15px;
  --margin-bottom__table-item: 10px;

  --bg-color__calculator: #f4f4f4;
  --bg-color__calculator__display: #fff;
  --bg-color__calculator__display__btn-delete: #e9e9e9;
  --bg-color__calculator__display__btn-delete_hover: #d6d5d5;
  --bg-color__calculator__btn-keys: #eeeded;
  --bg-color__calculator__btn-keys_hover: #dad7d7cc;
  --bg-color__calculator__btn-calculate: #e6e4e4;
  --bg-color__modal-delete: #f4f4f4;
  --bg-color__item-header: #f0f0f0;
  --bg-color__table-item: #f8f9fa;
  --bg-color__btn__clear-log: #f73f3f;
  --bg-color__btn__clear-log_hover: #f65d5d;
  --bg-color__btn__clear-log_disabled: #b8b8b8;

  --border__calculator__display: 1px solid #ced4da;
  --border__calculator__display--input: none;
  --border__calculator__btn-keys: none;
  --border__container-log: 1px solid #ccc;
  --border__modal-delete__modal-buttons_button: none;
  --border__table-item: 1px solid #ced4da;
  --border__btn__clear-log: none;

  --border-radius__calculator: 10px;
  --border-radius__calculator__btn-keys: 5px;
  --border-radius__container-log: 5px;
  --border-radius__modal-delete: 15px;
  --border-radius__modal-delete__modal-buttons_button: 10px;
  --border-radius__table-item: 5px;
  --border-radius__btn__clear-log: 5px;

  --box-shadow__calculator: 20px 15px 10px rgba(0, 0, 0, 0.1);
  --box-shadow__container-log: 0  0 10px #0000001a;
  --box-shadow__modal-delete: 20px 15px 10px #0000004d;
  --box-shadow__table-item: 0 2px 4px #0000001a;

  --box-sizing__calculator__btn-calculate: border-box;

  --font-size__calculator__display--input: 20px;
  --font-size__calculator__display__btn-delete__icon: 1.5rem;
  --font-size__calculator__btn-keys: 18px;

  --color__white: #fff;
  --color__calculator__display__btn-delete__icon: #6d6d6d;
  --color__success: #12f561;
  --color__success_hover: #32aa5c;
  --color__danger: #ff0000;
  --color__danger__hover: #cf3a3a;

  --outline__calculator__display--input: none;

  --outline__modal-delete__modal-buttons_button: none;

  --letter-spacing__modal-delete__modal-buttons_button: 2px;

  --gap-10: 10px;
  --gap-100: 100px;

  --grid--template-colums__calulator__keys: repeat(4, 1fr);
}

body{
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* Display */
.d-flex{
  display: flex;
}

.d-grid{
  display: grid;
}

/* Columns */
.column-1-1{
  grid-template-columns: 1fr 1fr;
}

/* Flex */
.flex-column{
  flex-direction: column;
}

.flex{
  flex: 1;
}

.flex-wrap{
  flex-wrap: wrap;
}

/* Jusfity */
.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-around{
  justify-content: space-around;
}

/* Align */
.align-center{
  align-items: center;
}

/* Gap */
.gap-10{
  gap: var(--gap-10);
}

.gap-100{
  gap: var(--gap-100)
}

/* Colors */

.color-white{
  color: var(--color__white);
}

/* Text */
.text-center{
  text-align: center;
}

/* Font */
.font-bold{
  font-weight: bold;
}