.container-log{
  width: var(--width__container-log);
  height: var(--height__container-log);
  max-height: var(--max-height__container-log);
  padding: var(--padding__container-log);
  border: var(--border__container-log);
  border-radius: var(--border-radius__container-log);
  box-shadow: var(--box-shadow__container-log);
  position: relative;
}

.container-log .log-title{
  margin-top: var(--margin-top__container-log__log-title);
}