.modal-delete{
  display: none;
  position: absolute;
  top: var(--top__modal-delete);
  left: var(--left__modal-delete);
  transform: var(--transform__modal-delete);
  width: var(--wdith__modal-delete);
  padding: var(--padding__modal-delete);
  background-color: var(--bg-color__modal-delete);
  border-radius: var(--border-radius__modal-delete);
  box-shadow: var(--box-shadow__modal-delete);

  animation: fadeIn;
  animation-duration: 0.3s;
  opacity: 0;
  transition: opacity 0.3s;
}

.modal-delete.visible{
  display: initial;
}

.modal-delete.fadeIn{
  opacity: 1;
}

.modal-delete .modal-question{
  margin-bottom: var(--margin-bottom__modal-delete__modal-question);
}

.modal-delete .modal-buttons button{
  padding: var(--padding__modal-delete__modal-buttons_button);
  border: var(--border__modal-delete__modal-buttons_button);
  border-radius: var(--border-radius__modal-delete__modal-buttons_button);
  outline: var(--outline__modal-delete__modal-buttons_button);

  letter-spacing: var(--letter-spacing__modal-delete__modal-buttons_button);
  cursor: pointer;
  transition: background-color 0.25s;
}

.modal-delete .modal-buttons .btn-confirm{
  background-color: var(--color__success);
}

.modal-delete .modal-buttons .btn-confirm:hover{
  background-color: var(--color__success_hover);
}

.modal-delete .modal-buttons .btn-cancel{
  background-color: var(--color__danger);
}

.modal-delete .modal-buttons .btn-cancel:hover{
  background-color: var(--color__danger__hover);
}