.table {
  margin-top: var(--margin-top__table);
  overflow-y: auto;
}

.table-header{
  margin-bottom: var(--margin-bottom__table-header);
}

.item-header {
  height: var(--height__item-header);
  padding: var(--padding__item-header);
  background-color: var(--bg-color__item-header);
}

.table-results{
  height: var(--height__table-results);
}

.table-item {
  margin-bottom: var(--margin-bottom__table-item);
  padding: var(--padding__table-item);
  border: var(--border__table-item);
  border-radius: var(--border-radius__table-item);
  background-color: var(--bg-color__table-item);
  box-shadow: var(--box-shadow__table-item);
  transition: transform 0.3s, box-shadow 0.3s;
}

.table-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table-item span {
  margin-right: var(--margin-right__table-item_span);
}

.table-item.item-formula{
  cursor: pointer;
}

.btn__clear-log {
  display: block;
  width: var(--width__btn__clear-log);
  padding: var(--padding__btn__clear-log);
  margin-top: var(--margin-top__btn__clear-log);
  background-color: var(--bg-color__btn__clear-log);
  border: var(--border-radius__btn__clear-log);
  border-radius: var(--border-radius__btn__clear-log);
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

.btn__clear-log:hover {
  background-color: var(--bg-color__btn__clear-log_hover);
}

.btn__clear-log:disabled{
  background-color: var(--bg-color__btn__clear-log_disabled);
}